.wrapp {
    max-width: 1200px;
    margin: 0 auto;
}

.time {
    margin-top: 75px;
    font-size: 35px;
    text-align: center;
}

.btn__wrapp {
    margin-top: 20px;
    text-align: center;
}

.btn {
    margin-left: 15px;
    width: 150px;
    border-radius: 3px;
    font-size: 35px;
    background-color: grey;
    color: #1f1f1f;
}

.btn:nth-child(1) {
    margin-left: 0px;
    background-color: green;
}

.btn:nth-child(2) {
    background-color: red;
}